<h1><%= @category.strCategory %></h1>

<p><%= @category.strCategoryDescription %></p>

<h2>Meals in this Category</h2>

<% @meals.each do |meal| %>
  <div>
    <h3><%= meal.strMeal %></h3>
    <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
    <%= meal.price %>
    <%= link_to 'Add to Cart', add_meal_to_cart_path(meal_id: meal.id), method: :post %>
  </div>
<% end %>
